<html>
  <head>
    <title>CSC675</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">

</head>
<body>

  <script
src="https://code.jquery.com/jquery-3.3.1.js"
integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
crossorigin="anonymous"></script>



  <div class="ui fixed inverted menu">

<div class="ui container">
      <div class="header item"><i class="music icon"></i>Spotiqualize</div>
      <a href="/" class="item">Database</a>
      <a href="/addSong" class="item">New Song</a>
      <!-- <a href="/addArtist" class="item">New Artist</a>
      <a href="/addAlbum" class="item">New Album</a>
      <a href="/addFeatureArtist" class="item">New Featured Artist</a> -->
</div>

    </div>
