body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.color.grid .column {

	margin: 0.5em;
}

.ui.main.text.container > h1 {

    font-size: 3em;
    text-align: center;
    font-weight: normal;
}
